# Data Cleaning

Before starting with analyzing the data, it is important for us to clean our dataset.

Importing necessary packages

In [1]:
## Import the required libraries

import pandas as pd
import numpy as np
import datetime
import sklearn
from sklearn.cross_validation import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.grid_search import GridSearchCV
from sklearn import linear_model
from sklearn.metrics import *
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

C:\Users\Akash\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Akash\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

Importing dataset.

In [2]:
df = pd.read_csv('diabetes.csv')

Let's see what are the different columns in our dataset.

In [3]:
df.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1

Let's find out whether our data contains any missing data or not.

In [4]:
df.isnull().sum()

id                          0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

There are no missing data in our dataset.

Let's find out what are different types of data in our dataset.

In [5]:
df.dtypes

id                            int64
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

All data are in numeric form.

**Conclusion:** There is no need for data cleaning.

In [18]:
df['Pregnancies'].unique()
df['Pregnancies'].value_counts()

1     98
0     82
2     77
3     54
4     54
5     44
7     40
6     40
8     33
9     24
10    21
11    11
13     9
12     6
14     2
15     1
17     1
Name: Pregnancies, dtype: int64

In [17]:
df['Glucose'].value_counts()
#df[df['Glucose']==0].count()

125    12
99     12
100    11
129    11
109    11
106    10
124    10
128    10
102    10
108     9
112     9
114     9
120     9
84      9
107     9
105     9
111     9
95      8
92      8
146     8
88      8
115     8
117     8
144     7
119     7
136     7
126     7
123     7
122     7
103     7
       ..
174     2
76      2
170     2
165     2
161     2
57      2
159     2
153     2
150     2
67      1
65      1
62      1
56      1
44      1
75      1
198     1
178     1
77      1
79      1
193     1
190     1
186     1
182     1
177     1
172     1
169     1
160     1
157     1
149     1
199     1
Name: Glucose, Length: 133, dtype: int64

In [19]:
print(df['BloodPressure'].unique())
df['BloodPressure'].value_counts()

[ 72  66  64  40  74  50   0  70  96  92  80  60  84  30  88  90  94  76
  82  75  58  78  68 110  56  62  85  86  48  44  65 108  55 122  54  52
  98 104 102 100  24  38 106 114  46]

74     41
70     41
78     38
72     33
76     32
80     30
60     29
64     29
0      29
68     27
82     26
62     26
66     23
88     20
90     19
86     18
84     18
58     17
50     10
54      9
56      9
92      8
52      8
65      7
94      5
75      5
44      4
48      4
96      4
85      4
110     3
106     3
98      3
104     2
100     2
30      2
108     1
55      1
114     1
102     1
46      1
40      1
38      1
24      1
122     1
Name: BloodPressure, dtype: int64

In [24]:
df['BloodPressure'].replace(to_replace=0,value=round(df['BloodPressure'].mean(axis=0)))
df['BloodPressure'].value_counts()

74     41
70     41
78     38
72     33
76     32
80     30
60     29
64     29
0      29
68     27
82     26
62     26
66     23
88     20
90     19
86     18
84     18
58     17
50     10
54      9
56      9
92      8
52      8
65      7
94      5
75      5
44      4
48      4
96      4
85      4
110     3
106     3
98      3
104     2
100     2
30      2
108     1
55      1
114     1
102     1
46      1
40      1
38      1
24      1
122     1
Name: BloodPressure, dtype: int64